dist: trusty
language: ruby
cache: bundler
branches:
  only:
    - master
rvm:
  - ruby-head
  - 2.5
  - 2.4
  - 2.3
  - 2.2
before_install:
  - phantomjs --version
addons:
  apt:
    sources:
      - george-edison55-precise-backports # cmake 3.2.3 / doxygen 1.8.3
    packages:
      - cmake
      - cmake-data
before_script:
  - mysql -u root -e "set global innodb_large_prefix=1;"
  - mysql -u root -e "set global innodb_file_format='Barracuda';"
  - mysql -u root -e "set global innodb_file_per_table=true;"
script:
  - bin/rails db:create
  - bin/rails db:migrate RAILS_ENV=test
  - bundle exec rspec
matrix:
  allow_failures:
    - rvm: ruby-head
