[Unit]
Description=Kuroko2 executor

[Service]
Environment=LANG=en_US.UTF-8
Environment=RAILS_ENV=production
Environment=NUM_WORKERS=8
Environment=QUEUE=@default
User=kuroko2
WorkingDirectory=/home/kuroko2/kuroko2/current
ExecStart=/usr/bin/bundle exec rails runner 'Kuroko2::Servers::CommandExecutor.new(log: nil, daemonize: false).run'
KillMode=process

[Install]
WantedBy=multi-user.target
