.description {
  h1 {
    font-size: 16px;
  }
  h2, h3, h4 {
    font-weight: bold;
    font-size: 14px;
  }
}

.star-holder {
  a:link, a:visited, a:hover, a:active {
    color: #444;
  }
}

.script-input {
  font-family: 'Inconsolata';
}

.kuroko-script {
  span.note {
    color: #888
  }
}
