<!DOCTYPE html>
<html>
<head>
  <title>Kuroko2</title>
  <%= stylesheet_link_tag    "kuroko2/application", media: "all" %>
  <%= javascript_include_tag "kuroko2/application" %>
</head>
<body>

<%= yield %>

</body>
</html>
